*{
    margin: 0;
    padding: 0;
    }
    html{
      background-color:whitesmoke;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    #main{
        margin-left: 42%;
    }
    #header{
        margin-left: 12%;
        text-align: center;
        font-size: 1.5em;
        width: 75%;
        margin-top: 5%;
    }
    .topic{
        padding-top: 1.5%;
        font-weight: lighter;

    }
    h3{
        padding-top: 1%;
        font-weight: lighter;
    }
    h2{
        font-weight: lighter;
        font-size: 122%;
    }
    .recipe{
        display: block;
        padding: 1.5%;
    }
    .hub{
        display:block;
        padding: 1.5%;
    }
    .kithub{
        display:block;
        padding: 1.5%;
    }
    .photo1{
       padding: 2%; 
    }
    #photomain{
        display:flex;
        margin-left: 20%;

    }
